import { EndpointConfig } from "@digibuildofficial/js-sdk/dist/client"

interface {{ interfaceName }} {
  action: string;
  qs?: any;
  {{ interface definitions }}
}

function {{name}}({ action, qs, {{ args params }} }: {{ interfaceName }}): EndpointConfig {
  return {
    base: '{{path}}',
    action,
    params: { {{ args params }} },
    qs
  }
}



export default {  "name": "{{ name }}", "handler": {{ name }}, "inputs": [ {{{ inputs params }}} ]}